<!DOCTYPE HTML>
<html {% if site.language %}lang="{{ site.language }}"{% endif %}>
<head>
  <meta charset="UTF-8">
    {% assign title = page.title %}
    {% if page.layout == 'archives' %}
    {% assign title = lang.archive_a %}
    {% endif %}
    {% if page.layout == 'categories' %}
    {% assign title = lang.categories %}
    {% endif %}
    {% if page.layout == 'tags' %}
    {% assign title = lang.tags %}
    {% endif %}
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>

    <meta name="baidu-site-verification" content="LiSTY5bSBs" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    {% if site.author.name %}
    <meta name="author" content="{{ site.author.name }}">
    {% endif %}

    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <!--<%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>-->

    <meta name="description" content="page.description">
    {% if page.layout == 'post' %}
    <meta property="og:type" content="article">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="page.description">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <link rel="publisher" href="{{ site.author.google_plus }}">
    {% if site.rss %}
    <link rel="alternative" href="{{site.baseurl}}{{ site.rss }}" title="{{ site.title }}" type="application/atom+xml">
    {% endif %}
    {% if site.favicon %}
    <link rel="icon" href="{{ site.baseurl }}{{ site.assets }}/{{ site.favicon }}">
    {% endif %}
    {% if site.apple_icon %}
    <link rel="apple-touch-icon" href="{{ site.baseurl }}{{ site.assets }}/{{ site.apple_icon }}">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}{{ site.assets }}/{{ site.apple_icon }}">
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/css/highlight.css" type="text/css">
    {% if site.banner_img %}
    <style>
        body >header {
            background: url("{{ site.baseurl }}{{ site.assets }}/{{ site.banner_img }}") center #2ca6cb;
        }
    </style>
    {% endif %}
    {% if site.yungentie_productkey and page.layout == 'default' %}
    <style>
      .join-count::before {
        content: none !important;
      }
      .join-count {
        margin-right: .5em;
      }
      .comments-count-link {
        padding-right: 0em !important;
      }
    </style>
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/css/textStyle.css" type="text/css">
    <script src="{{ site.baseurl }}{{ site.assets }}/js/jquery-2.0.3.min.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?8098426c8e1405932849de79038b5ca1";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    window.onload = function() {
        function initparticles() {
           bubbles();
           hearts();
           lines();
           confetti();
           fire();
           sunbeams();
        }

        /*The measurements are ... whack (so to say), for more general text usage I would generate different sized particles for the size of text; consider this pen a POC*/

        function bubbles() {
           $.each($(".particletext.bubbles"), function(){
              var bubblecount = ($(this).width()/50)*10;
              for(var i = 0; i <= bubblecount; i++) {
                 var size = ($.rnd(40,80)/10);
                 $(this).append('<span class="particle" style="top:' + $.rnd(20,80) + '%; left:' + $.rnd(0,95) + '%;width:' + size + 'px; height:' + size + 'px;animation-delay: ' + ($.rnd(0,30)/10) + 's;"></span>');
              }
           });
        }

        function hearts() {
           $.each($(".particletext.hearts"), function(){
              var heartcount = ($(this).width()/50)*5;
              for(var i = 0; i <= heartcount; i++) {
                 var size = ($.rnd(60,120)/10);
                 $(this).append('<span class="particle" style="top:' + $.rnd(20,80) + '%; left:' + $.rnd(0,95) + '%;width:' + size + 'px; height:' + size + 'px;animation-delay: ' + ($.rnd(0,30)/10) + 's;"></span>');
              }
           });
        }

        function lines() {
           $.each($(".particletext.lines"), function(){
              var linecount = ($(this).width()/50)*10;
              for(var i = 0; i <= linecount; i++) {
                 $(this).append('<span class="particle" style="top:' + $.rnd(-30,30) + '%; left:' + $.rnd(-10,110) + '%;width:' + $.rnd(1,3) + 'px; height:' + $.rnd(20,80) + '%;animation-delay: -' + ($.rnd(0,30)/10) + 's;"></span>');
              }
           });
        }

        function confetti() {
           $.each($(".particletext.confetti"), function(){
              var confetticount = ($(this).width()/50)*10;
              for(var i = 0; i <= confetticount; i++) {
                 $(this).append('<span class="particle c' + $.rnd(1,2) + '" style="top:' + $.rnd(10,50) + '%; left:' + $.rnd(0,100) + '%;width:' + $.rnd(6,8) + 'px; height:' + $.rnd(3,4) + 'px;animation-delay: ' + ($.rnd(0,30)/10) + 's;"></span>');
              }
           });
        }

        function fire() {
           $.each($(".particletext.fire"), function(){
              var firecount = ($(this).width()/50)*20;
              for(var i = 0; i <= firecount; i++) {
                 var size = $.rnd(8,12);
                 $(this).append('<span class="particle" style="top:' + $.rnd(40,70) + '%; left:' + $.rnd(-10,100) + '%;width:' + size + 'px; height:' + size + 'px;animation-delay: ' + ($.rnd(0,20)/10) + 's;"></span>');
              }
           });
        }

        function sunbeams() {
           $.each($(".particletext.sunbeams"), function(){
              var linecount = ($(this).width()/50)*10;
              for(var i = 0; i <= linecount; i++) {
                 $(this).append('<span class="particle" style="top:' + $.rnd(-50,00) + '%; left:' + $.rnd(0,100) + '%;width:' + $.rnd(1,3) + 'px; height:' + $.rnd(80,160) + '%;animation-delay: -' + ($.rnd(0,30)/10) + 's;"></span>');
              }
           });
        }

        jQuery.rnd = function(m,n) {
              m = parseInt(m);
              n = parseInt(n);
              return Math.floor( Math.random() * (n - m + 1) ) + m;
        }

        initparticles();
    }
    </script>
</head>
